*{box-sizing: border-box;}
main{
  display: flex;
  flex-wrap: wrap;
  max-width: 980px;
  margin: 0 auto;
}

header{
  background-color: rgb(27, 248, 93);
  flex: 1 1 100%;
 
}
article{
  background-color: rgba(214, 184, 147, 0.952);
  flex: 1 1 200px;

}
aside{
  background-color: rgba(236, 183, 192, 0.44);
  flex: 0 0 250px;
}

footer{
  background-color: orange;
  flex: 1  1 100%;
}
